.App {
  text-align: center;
  background-color: #333333;
}

.FillerBox {
  height: 112px;
}

.BodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading {
  width: 85%;
  text-align: left;
  font-size: 24pt;
  font-family: "PixelBold";
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  transition: color .3s ease-in-out;
}

@media (max-width: 1000px) {
  .Heading {
    font-size: 20pt;
  }
}

@media (max-width: 800px) {
  .Heading {
    font-size: 18pt;
  }

  .FillerBox {
    height: 90px;
  }
}

@media (max-width: 600px) {
  .Heading {
    font-size: 16pt;
  }
}

.Heading:hover {
  color: #ff4fb9;
  cursor: default;
}

.HeadingLink {
  width: 85%;
}

@font-face {
  font-family: "PixelRegular";
  src: url("./fonts/PixeloidSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PixelBold";
  src: url("./fonts/PixeloidSansBold.ttf") format("truetype");
}